#container {
    width: 90%;
    height: 100%;
    background-color: rgb(191,245,191);
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#books-container {
    width: 100%;
    height: 100%;
}

.titles {
    text-align: center;
}

#title-container  {
    width: 90%;
    height: 200px;
    background-color: rgb(191, 245, 191);
    display: flex;
}
#title-div {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#info-container {
    width: 20%;
    border-radius: 50%;
    border: solid black 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(162, 235, 227);
}
#new-book-button-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
#new-book-button {
    width: 100px;
}

.cards-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 30px;
    color: whitesmoke;
    padding-top: 10px;
}

.card {
    width: 200px;
    height: 250px;
    border-radius: 10%;
    background: linear-gradient(135deg,
    rgba(147, 209, 160, 0.8) 0%,
   
    rgb(75, 20, 75, 0.8) 100%);
    display: flex;
    flex-direction: column;
}

#upper-container {
    height: 200px;
    display: flex;
    
}
#left-container {
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    overflow-wrap: anywhere;
}
#title-info {
    height: 40px;
}
#author-info {
    height: 40px;
}
#delete-button {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bottom-container {
    padding-top: 25px;
    display: flex;
    justify-content: center;
}